.container{
	display: flex;
	align-items: center;
	flex-direction: column;
	
	height: 55%;
	width: 362px;
	background: #1d1d1d;
	border-radius: 10px;
	box-shadow: inset 0px 0px 7px 2px rgba(109, 108, 108, 0.5), 5px 5px 10px rgba(255, 255, 255, 0.2);
/* background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, 
rgba(218,218,218,1) 19%, rgba(209,209,209,1) 48%,
rgba(133,133,133,1) 100%); */

}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 5px;
}

body, html{
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0%;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	background: rgb(156, 156, 156);
	/* background: radial-gradient(circle, rgba(176,255,248,1) 0%, rgba(185,230,255,1) 35%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 73%, rgba(218,254,255,1) 87%); */
}

.header{
	font-family: Verdana;
	margin-bottom: 20px;
	width: 80%;
	padding-top: 30px;
	text-align: center;
	margin: 20 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgb(194, 194, 194);
}
h1{
	font-weight: 400;
	margin: 0px;
}

.form{
	font-family: Verdana;
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	width: 90%;
	margin-top: 10px;
	border: 3px;
	border-color: black;
 
}
.input{
	font-family: Arial, Helvetica, sans-serif;
	height: 33px;
	font-size: 18px;
	margin-left: 5px;
	padding-left: 5px;
	width: 210px;
	background-color: rgb(233, 233, 233);
	border-radius: 5px;
	box-shadow:inset 0px 0px 0psx 0px rgba(0, 0, 0, 0.3);
	border: 2px solid white ;
	outline: none; 
}
.input:focus {
    border-color: black;
    outline: none; /* Removes the default focus outline */
	box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
	background-color: rgb(255, 255, 255);
}
.action-container{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.login-btn{
	border: 2px solid white;
	
	padding: 10px;
	border-radius: 5px;
	font-family: Verdana;
	text-align: center;
	font-size: large;
	color: black;
	text-decoration: none;
	transition: color 0.2s ease, background-color 0.2s ease;
}
.login-btn:hover{
	color: white;
	background-color: black;
	
}
.forgot-acc{
	margin-top: 20px;
	text-decoration: none;
	text-align: center;
	color: rgb(150, 150, 150);
}
.forgot-acc:hover{
	color: rgb(200, 200, 200);
	text-decoration: underline;
	
}